/* Fogli di style CSS
ORGANIZZATO IN ORDINE ALFABETICO PER
TAGS - CLASSI - ID */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Play';
}
a{
  text-decoration:none;
  color: #33475b;
}
button:hover{
  cursor: pointer;
}
nav{
  height: 85px;
  position: relative;
}
section::after{
  content: "";
  display: table;
  clear: both;
}

.carcere{
  background: #00bda5;
}
.carcere::after{
  content: "";
  display: table;
  clear: both;
}
.celle{
  background: red;
  height: 250px;
  width: 25%;
  float: left;
}
.celletop{
  background: yellow;
  height: 300px;
  margin: auto;
  width: 60%;
}
.clientiscritta{
  float: left;
  width: 40%;
  background-color: blue;
  height: 300px;
}
.clientilogo{
  float: left;
  width: 60%;
  height: 300px;
}
.climg{
  background: purple;
  height: 150px;
  width: 25%;
  float: left;
}
.cubo{
  height: 480px;
  background: violet;
}
/* Sezione fisso */
.fisso{
  position: fixed;
  top: 0px;
  width: 100vw;
  padding: 10px;
  height: 85px;
  background: #f5f8fa;
  border-bottom: solid 0.5px grey;
}
.fissolingue {
  float: left;
}
.fissolingue > p{
  display: inline-block;
  padding: 10px 20px;
}
.fissosearch{
  float: right;
  padding: 15px;
}
.fissosearch > button{
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: #ff7a59 0.5px solid;
}

/* Sezione footer */
.foot{
  background: #33475b;
}
.foot::after{
  content: "";
  display: table;
  clear: both;
}
.foot2{
  background: yellow;
  height: 70px;
  width: 100%;
}
.fotleft{
  background: grey;
  float: left;
  width: 50%;
  height: 130px;
}
.footlist{
  background: red;
  width: 25%;
  height: 250px;
  float: left;
}
.fotright{
  background: black;
  float: right;
  width: 50%;
  height: 130px;
}

.freehub{
  height: 350px;
  background: blue;
}
.margini{
  margin: auto;
  width: 60%;
}
.margini::after{
  content: "";
  display: table;
  clear: both;
}
/*  sezione menu */
.menu{
  margin-top: 85px;
  height: 85px;
}
.menul{
  padding: 30px 43px;
  float: left;
}
.menur{
  float: right;
}
.menur > p{
  display: inline-block;
  font-size: 18px;
  padding: 35px 32px;
}
.menur > p > strong > a{
  color: black;
}

.niggatext{
  float: left;
  background: orange;
  height: 400px;
  width: 60%;
}
.niggaimg{
  float: left;
  background: yellow;
  height: 400px;
  width: 40%;
}
.serv::after{
  content: "";
  display: table;
  clear: both;
}
.tit1{
  height: 700px;
  background: blue;
}
.varie{
  float: left;
  background: red;
  width: 33.3%;
  height: 500px;
}
/* ID */
#icon{
  width: 60px;
  padding-top: 11px;
  padding-left: 30px;
  float: left;
}
#login{
  background-color: rgba(255, 0, 0, 0.0);
  color: #ff7a59;
}
#free{
  background-color: #ff7a59;
  color: white;
}
#bordo{
  border-right: grey solid 0.5px;
  margin: 15px;
}
